annotated-types==0.7.0
anyio==4.6.2.post1
async-timeout==5.0.1
blinker==1.7.0
blis==1.0.1
boto3==1.34.82
botocore==1.34.82
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.20.0
cloudpickle==2.0.0
confection==0.1.5
cycler==0.10.0
cymem==2.0.8
distro==1.9.0
exceptiongroup==1.2.2
fastapi==0.115.6
Flask==3.0.3
Flask-Cors==4.0.0
gym==0.21.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
importlib_metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.3
jiter==0.7.1
jmespath==1.0.1
joblib==1.2.0
kiwisolver==1.3.2
langcodes==3.4.1
language_data==1.2.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.4.3
mdurl==0.1.2
murmurhash==1.0.10
numpy==2.0.2
openai==1.54.4
packaging==24.1
pandas==2.0.0
Pillow==8.3.2
preshed==3.0.9
pydantic==2.10.4
pydantic_core==2.27.2
pygame==2.1.0
Pygments==2.18.0
PyMySQL==1.1.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3
redis==5.2.1
requests==2.32.3
rich==13.9.3
s3transfer==0.10.1
scikit-learn==1.2.2
scipy==1.7.1
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
sniffio==1.3.1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
starlette==0.41.3
thinc==8.3.2
threadpoolctl==3.1.0
torch==1.10.0
tqdm==4.66.5
typer==0.12.5
typing_extensions==4.12.2
tzdata==2023.3
urllib3==1.26.18
uvicorn==0.34.0
wasabi==1.1.3
weasel==0.4.1
Werkzeug==3.0.2
wrapt==1.16.0
zipp==3.18.1
